
module.exports = {

    // router IP
    ip: '172.22.0.1',
    port: '22',

    // ignore emacs-related files when compiling templates
    ignoreTemplates: [/.*~$/, /^#.*#$/],

    // The root password for the newly configured routers
    rootPassword: 'meshtheplanet',

    // settings for connection to the meshnode-database
    // https://github.com/sudomesh/meshnode-database
    nodeDB: {
        url: 'https://secrets.sudomesh.org',
        username: 'deployer',
        password: 'praisebob'
    },

    // where templates are staged before compilation
    templateStageDir: 'templateStaging',

    // where final files are staged before being packaged into an ipk
    stageDir: 'staging',

    // where ipks are saved
    ipkDir: 'ipks',

    // maintainer for generated ipk files
    ipkMaintainer: "sudo mesh <info@sudomesh.org>"

};
